.banner-story-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.banner {
	display: flex;
	gap: 1rem;
	/* align-items: center; */
	padding: 1rem;
	max-width: 480px;
	border-radius: 0.5rem;
	font-size: 0.875rem;

	svg {
		flex-shrink: 0;
	}

	h4 {
		line-height: 24px;
		font-weight: 550;
	}

	p {
		opacity: 0.8;
	}

	&.neutral {
		color: var(--blue-12);
		background: var(--blue-3);

		> svg {
			color: var(--blue-11);
		}
	}

	&.success {
		color: var(--green-12);
		background: var(--green-3);

		> svg {
			color: var(--green-11);
		}
	}

	&.warning {
		color: var(--amber-12);
		background: var(--amber-3);

		> svg {
			color: var(--amber-11);
		}
	}

	&.error {
		color: var(--tomato-12);
		background: var(--tomato-3);

		> svg {
			color: var(--tomato-11);
		}
	}
}

.banner-text {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}
